extends extendex
block header
    h3 The Title
block content
    p
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni consectetur earum quia in laudantium quas est vero enim eos, ratione saepe excepturi voluptates assumenda dolore soluta explicabo doloremque odit fugiat!
block append content2
    p
    | Appended data
block prepend content3
    p
    | Prepended data
