<div class="container">
  <div class="row">
    <div class="col">
      <h1>Posts</h1>

      <% @posts.each do |post| %>
          <div class="well">
            <h2><%= link_to post.title, post %></h2>
            <p><%= post.body %></p>
          </div>
      <% end %>
    </div>
  </div>
</div>